& .search-bar {
  @include position(center, space-between);
  width: 100%;
  height: 7vh;
  background-color: transparent;
  border: 3px solid $bg;
  @include sm {
    height: 10vh;
  }
  & select {
    height: 90%;
    width: 30%;
    background-color: $primary;
    border: 0;
    &:focus {
      outline: none;
    }
    @include sm {
      width: 25%;
    }
  }
  & input {
    border: none;
    width: 63%;
    height: 90%;
    background-color: $primary;
    padding: 0 15px;
    color: white;
    &:focus {
      outline: 0;
    }
  }
  & .icon-container {
    @include position;
    width: 5%;
    height: 90%;
    background-color: $primary;
    cursor: pointer;
    @include sm {
      width: 10%;
    }
    & i {
      color: white;
    }
  }
}
