@import "./sass/scssComponents/variables";

* {
  margin: 0;
  box-sizing: border-box;
  color: $text;
  font-size: $base-font-size;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  @include position(_, center);
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: $bg;
  overflow-x: hidden;
  & .main-container {
    width: 80%;
    height: auto;
    @include md {
      width: 90%;
    }
    @import "./sass/components/header";
    @import "./sass/components/searchBar";
    @import "./sass/components/sidebar";
    @import "./sass/components/topRated";
    @import "./sass/components/movieList";
    @import "./sass/components/videoGrid";
    @import "./sass/pages/home";
  }
}
