@import "./sass/scssComponents/variables";
@import "./sass/components/animation";

* {
  margin: 0;
  box-sizing: border-box;
  color: $text;
  font-size: $base-font-size;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Link {
  text-decoration: none;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
@import "./sass/components/forms";

main {
  @include position(_, center);
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: $bg;
  overflow-x: hidden;
  transition: 1s ease-out;
  // scroll-behavior: smooth;
  & .main-container {
    width: 80%;
    height: auto;
    @include md {
      width: 90%;
    }

    // normal
    @import "./sass/components/header";
    @import "./sass/components/searchBar";
    @import "./sass/components/sidebar";
    @import "./sass/components/topRated";
    @import "./sass/components/movieList";
    @import "./sass/components/videoGrid";
    @import "./sass/components/advert";
    @import "./sass/pages/home";
    @import "./sass/pages/contact";
    @import "./sass/pages/movies";
    @import "./sass/pages/series";
    @import "./sass/pages/profile";
    @import "./sass/pages/favourites";
    @import "./sass/pages/singleMovie";
    @import "./sass/pages/singleSeries";
    @import "./sass/components/footer";
    // normal end

    // admin
    @import "./sass/admin/components/adminSidebar";
    @import "./sass/admin/pages/adminDashboard";
    @import "./sass/admin/pages/postMovie";

    // 404
    & .notFound {
      width: 100%;
      height: 50vh;
      @include position;
      & h1 {
        font-size: 40px;
        font-weight: lighter;
        & span {
          font-size: 40px;
          font-weight: bold;
          text-decoration: underline;
          color: $tertiary;
          &#ex {
            color: $secondary;
            text-decoration: none;
          }
        }
      }
    }
  }
}
