* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #abb7c4;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #020d18;
  overflow-x: hidden;
}

main .main-container {
  width: 80%;
  min-height: inherit;
  height: inherit;
}

@media (max-width: 500px) {
  main .main-container {
    width: 90%;
  }
}

main .main-container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 15vh;
  border-bottom: 2px solid #1d262f;
  font-weight: bold;
}

main .main-container .header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 70%;
}

main .main-container .header .header-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20%;
  height: 100%;
  cursor: pointer;
}

@media (max-width: 500px) {
  main .main-container .header .header-container .logo-container {
    width: 50%;
  }
}

main .main-container .header .header-container .logo-container img {
  width: 100%;
  height: 100%;
}

main .main-container .header .header-container .logo-container h1 {
  font-size: 34px;
  color: white;
}

main .main-container .header .header-container .logo-container h1 span {
  color: #dd003f;
  font-size: 20px;
}

main .main-container .header .header-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  height: 100%;
}

@media (max-width: 500px) {
  main .main-container .header .header-container nav {
    display: none;
  }
}

@media (max-width: 800px) {
  main .main-container .header .header-container nav {
    width: 50%;
  }
}

main .main-container .header .header-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0;
  list-style-type: none;
}

main .main-container .header .header-container nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  height: 100%;
}

main .main-container .header .header-container nav ul li span {
  padding: 3px;
  cursor: pointer;
}

main .main-container .header .header-container nav ul li span:hover {
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .main-container .header .header-container nav ul li span:active {
  color: #dd003f;
}

main .main-container .header .header-container nav ul li span::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 0;
  height: 2px;
  background-color: #dd003f;
}

main .main-container .header .header-container nav ul li span:hover::after {
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .main-container .header .header-container .header-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20%;
}

@media (max-width: 500px) {
  main .main-container .header .header-container .header-log {
    display: none;
  }
}

main .main-container .header .header-container .header-log .log {
  padding: 10px 15px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

main .main-container .header .header-container .header-log .log.logIn {
  border: 1px solid #abb7c4;
}

main .main-container .header .header-container .header-log .log.logIn:hover {
  color: black;
  background-color: #abb7c4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .main-container .header .header-container .header-log .log.logIn:active {
  color: white;
  border: 1px solid white;
  -webkit-transition: 0.0001s;
  transition: 0.0001s;
}

main .main-container .header .header-container .header-log .log.signUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #dd003f;
  border: 1px solid #dd003f;
}

main .main-container .header .header-container .header-log .log.signUp img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

main .main-container .header .header-container .header-log .log.signUp:hover {
  color: #dd003f;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .main-container .header .header-container .header-log .log.signUp:active {
  color: white;
  border: 1px solid white;
  -webkit-transition: 0.0001s;
  transition: 0.0001s;
}

main .main-container .header .header-container .menu-container {
  display: none;
}

@media (max-width: 500px) {
  main .main-container .header .header-container .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 2px solid #dd003f;
    background-color: #1d262f;
    padding: 10px;
    border-radius: 50%;
  }
  main .main-container .header .header-container .menu-container:active {
    border: 2px solid transparent;
  }
}

main .main-container .header .header-container .menu-container img {
  width: 20px;
  height: 20px;
}

main .main-container .header-media-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1d262f;
  padding: 20px 0;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .main-container .header-media-nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}

main .main-container .header-media-nav nav ul {
  width: 80%;
  padding: 0;
  list-style-type: none;
}

main .main-container .header-media-nav nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: relative;
  padding: 10px 0;
}

main .main-container .header-media-nav nav ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
  cursor: pointer;
}

main .main-container .header-media-nav nav ul li span::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #dd003f;
}

main .main-container .header-media-nav nav ul li span:hover::after {
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .main-container .header-media-nav .log {
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

main .main-container .header-media-nav .log.logIn {
  border: 1px solid #abb7c4;
}

main .main-container .header-media-nav .log.logIn:hover {
  color: black;
  background-color: #abb7c4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .main-container .header-media-nav .log.logIn:active {
  color: white;
  border: 1px solid white;
  -webkit-transition: 0.0001s;
  transition: 0.0001s;
}

main .main-container .header-media-nav .log.signUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #dd003f;
  border: 1px solid #dd003f;
}

main .main-container .header-media-nav .log.signUp img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

main .main-container .header-media-nav .log.signUp:hover {
  color: #dd003f;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .main-container .header-media-nav .log.signUp:active {
  color: white;
  border: 1px solid white;
  -webkit-transition: 0.0001s;
  transition: 0.0001s;
}

main .main-container .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 7vh;
  background-color: transparent;
  border: 2px solid #1d262f;
}

@media (max-width: 500px) {
  main .main-container .search-bar {
    height: 10vh;
  }
}

main .main-container .search-bar select {
  height: 90%;
  width: 30%;
  background-color: #233a50;
  border: 0;
}

main .main-container .search-bar select:focus {
  outline: none;
}

@media (max-width: 500px) {
  main .main-container .search-bar select {
    width: 25%;
  }
}

main .main-container .search-bar input {
  border: none;
  width: 63%;
  height: 90%;
  background-color: #233a50;
  padding: 0 15px;
  color: white;
}

main .main-container .search-bar input:focus {
  outline: 0;
}

main .main-container .search-bar .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 5%;
  height: 90%;
  background-color: #233a50;
  cursor: pointer;
}

@media (max-width: 500px) {
  main .main-container .search-bar .icon-container {
    width: 10%;
  }
}

main .main-container .search-bar .icon-container i {
  color: white;
}

main .main-container .sidebar {
  width: 100%;
  height: auto;
}

main .main-container .top-rated {
  margin-bottom: 50px;
}

main .main-container .top-rated .top-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 50px;
}

main .main-container .top-rated .top-head i {
  color: #020d18;
  margin: 0 20px;
}

main .main-container .top-rated .top-head h2 {
  color: #020d18;
  font-size: 23px;
  text-transform: uppercase;
}

main .main-container .top-rated .top-main-container {
  width: 100%;
  height: auto;
  border: 1px solid #233a50;
  border-top: none;
}

main .main-container .top-rated .top-main-container ul {
  padding: 10px;
  list-style-type: none;
  width: 100%;
  height: auto;
}

main .main-container .top-rated .top-main-container ul li {
  width: 100%;
  height: 100px;
  margin: 10px 0;
  border: 1px solid #020d18;
}

main .main-container .movieList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  border: 1px solid #1d262f;
}

main .main-container .movieList .movieList-img-container {
  width: 35%;
  height: 100%;
}

main .main-container .movieList .movieList-img-container img {
  width: 100%;
  height: 100%;
}

main .main-container .movieList .movieList-desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  height: 90%;
}

main .main-container .movieList .movieList-desc-container .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  height: auto;
  max-height: 60%;
}

main .main-container .movieList .movieList-desc-container .name-container h1 {
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
  color: white;
}

main .main-container .movieList .movieList-desc-container .name-container h1:hover {
  color: #dd003f;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .main-container .movieList .movieList-desc-container .name-container h1::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 0%;
  height: 2px;
  background-color: #d9f436;
}

main .main-container .movieList .movieList-desc-container .name-container h1:hover::after {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main .main-container .movieList .movieList-desc-container span {
  margin: 3px;
}

main .main-container .movieList .movieList-desc-container span.type {
  color: white;
  padding: 3px 5px;
  background-color: #dd003f;
  border-radius: 5px;
}

main .main-container .movieList .movieList-desc-container span.year {
  font-size: 15px;
  font-weight: lighter;
}

main .main-container .home .home-slider-container .sliders {
  margin-top: 18vh;
  height: 60vh;
}

@media (max-width: 500px) {
  main .main-container .home .home-slider-container .sliders {
    height: 80vh;
    margin-top: 8vh;
  }
}

main .main-container .home .home-slider-container .sliders .slider {
  position: relative;
  height: 60vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
}

@media (max-width: 500px) {
  main .main-container .home .home-slider-container .sliders .slider {
    height: 80vh;
  }
}

main .main-container .home .home-slider-container .sliders .slider .slider-container {
  position: absolute;
  bottom: 10px;
  width: 85%;
  height: auto;
}

main .main-container .home .home-slider-container .sliders .slider .slider-container .type {
  height: 50px;
}

main .main-container .home .home-slider-container .sliders .slider .slider-container .type span {
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  background-color: #dd003f;
  margin-bottom: 20px;
}

main .main-container .home .home-slider-container .sliders .slider ul.genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

main .main-container .home .home-slider-container .sliders .slider ul.genres li {
  padding: 3px 6px;
  border-radius: 5px;
  margin: 0 10px;
  margin-bottom: 10px;
  color: white;
}

main .main-container .home .home-slider-container .sliders .slider h2 {
  text-transform: uppercase;
  color: white;
}

main .main-container .home .home-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  width: 100%;
}

main .main-container .home .home-main-container .home-main-container-main {
  width: 65%;
  border: 1px solid red;
}

main .main-container .home .home-main-container .home-main-container-side {
  width: 30%;
}
/*# sourceMappingURL=App.css.map */